<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.bookstore.shop.mapper.ShopMapper">
    <insert id="saveGoods" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into t_goods_sku(
        sku_id, count, is_deleted, sort_no, gmt_create, create_by, gmt_modified,
        last_modified_by, version
        )
        values(
        #{skuId},#{count},0,0,now(),#{createBy},now(),
        #{lastModifiedBy},1
        )
    </insert>
</mapper>