body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:601px;
  background:-webkit-linear-gradient(270deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:-172px;
  top:-7px;
  width:1192px;
  height:601px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:307px;
  top:195px;
  width:298px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
}
#u4 {
  position:absolute;
  left:286px;
  top:253px;
  width:341px;
  height:151px;
}
#u5 {
  position:absolute;
  left:2px;
  top:68px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:710px;
  background:-webkit-linear-gradient(270deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 181, 236, 1) 0%, rgba(0, 181, 236, 1) 0%, rgba(0, 200, 152, 1) 100%, rgba(0, 200, 152, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:-81px;
  top:0px;
  width:1483px;
  height:710px;
}
#u7 {
  position:absolute;
  left:2px;
  top:347px;
  width:1479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:fixed;
  left:50%;
  margin-left:-246px;
  top:50%;
  margin-top:-125px;
  width:492px;
  height:250px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:342px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:342px;
}
#u10 {
  position:absolute;
  left:2px;
  top:163px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u12 {
  position:absolute;
  left:131px;
  top:31px;
  width:235px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u12_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:162px;
  top:36px;
  width:200px;
  height:27px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u15 {
  position:absolute;
  left:137px;
  top:37px;
  width:21px;
  height:21px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u17 {
  position:absolute;
  left:131px;
  top:80px;
  width:235px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u17_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 8px rgba(255, 255, 255, 1);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:132px;
  top:82px;
  width:182px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:162px;
  top:82px;
  width:175px;
  height:33px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:337px;
  top:85px;
  width:24px;
  height:24px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26 {
  position:absolute;
  left:136px;
  top:86px;
  width:21px;
  height:21px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FCFCFC;
}
#u28 {
  position:absolute;
  left:131px;
  top:147px;
  width:235px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FCFCFC;
}
#u28_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FCFCFC;
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:231px;
  word-wrap:break-word;
}
#u30 {
  position:fixed;
  left:50%;
  margin-left:-233px;
  top:154px;
  width:466px;
  height:89px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  position:absolute;
  left:45px;
  top:21px;
  width:305px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
}
